<div class="pull-left breadcrumb_admin clear_both">
    <div class="pull-left page_title theme_color">
        <h1>Branch</h1>
        <h2 class="">Showing Branches</h2>
    </div>
    <div class="pull-right page_title theme_color">
        <div class="breadcrumb">
            <a class="btn btn-success" data-target="#AddBranch" data-toggle="modal">Add Branch</a>
        </div>
    </div>
</div>
<div class="container clear_both padding_fix">
    <div  class="row">
        <div class="col-md-12">
            <section class="panel default red_border vertical_border h1">
                <div class="block-web">
                    <div class="porlets-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngFor="let msg of messages" class="alert alert-{{msg.type}}">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <h2>{{msg.title}}</h2>
                                    <h3>{{msg.message}}</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input #search_name="ngModel" name="name" [(ngModel)]="searchModal.Name" class="form-control big" type="text" placeholder="Search Here !!">
                            </div>
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-2">
                               <input #search_cap="ngModel" name="cap" class="form-control big" type="number" [(ngModel)]="searchModal.Cap" placeholder="Capacity">
                            </div>
                            <div class="col-md-1">
                               <a class="btn btn-info" (click)="CompositSearch()"><i class="fa fa-search"></i> Search</a>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row" *ngIf="!view_Details">
        <div class="col-md-3" *ngFor="let branch of searchedBranches">
            <div class="caption-style">
                <div>
                    <img alt="300x200" data-src="" style="width: 350px; height: 300px;" [src]="branch.Img_Url">
                    <div class="caption">
                        <a style="float: left; padding-left: 15px" class="btn btn-danger" data-target="#DeleteConfirm" data-toggle="modal" (click)="deleteBranch(branch)"><i class="fa fa-times fa-2x"></i></a>
                        <a class="btn btn-info" data-target="#EditBranch" data-toggle="modal" (click)="editBranch(branch)"><i class="fa fa-edit fa-2x"></i></a>
                        <div class="blur"></div>
                        <div class="caption-text" (click)="ViewDetails(branch)">
                            <h1>{{branch.Name}}</h1>
                            <p>Location : ${{branch.Location.Name}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" *ngIf="view_Details">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <section class="panel default h1">
                <div class="block-web">
                    <div class="porlets-content">
                        <div class="row">
                            <div class="col-md-12">
                                <img alt="300x200" data-src="" style="width: 100%; height: 400px;" [src]="BranchView.Img_Url">
                            </div>
                            <div class="col-md-12">
                                <br>
                                <h1 style="text-align: center"><u>{{BranchView.Name}}</u></h1>
                                <h2>Tables</h2>
                            </div>
                            <div class="col-md-3" *ngFor="let table of BranchView.Tables">
                                <div class="caption-style">
                                    <div>
                                        <img alt="300x200" data-src="" style="width: 350px; height: 300px;" [src]="table.Img_Url">
                                        <div class="caption">
                                            <a style="float: left; padding-left: 15px" class="btn btn-danger" data-target="#DeleteConfirmT" data-toggle="modal" (click)="deleteTable(table)"><i class="fa fa-times fa-2x"></i></a>
                                            <a class="btn btn-info" data-target="#EditTable" data-toggle="modal" (click)="editTable(table)"><i class="fa fa-edit fa-2x"></i></a>
                                            <div class="blur"></div>
                                            <div class="caption-text" (click)="bookTable(table)">
                                                <h1>Table No : {{table.TNo}}</h1>
                                                <h2>Capacity : ${{table.Cap}}</h2>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-offset-1">
                                <a class="btn btn-info" (click)="BackToSearch()">
                                    <i class="fa fa-2x fa-arrow-left"></i><span style="font-size: 24px"> Back</span></a>
                            </div>
                        </div>
                    </div>
                 </div>
            </section>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="modal fade" id="AddBranch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalLabel">Create Branch</h2>
            </div>
            <div class="modal-body">
                <form #f="ngForm" class="form-horizontal row-border" novalidate>
                        <div class="form-group" [ngClass]="{'has-error': !name.valid && !name.pristine && name.touched, 'has-success':name.valid}">
                            <label class="col-sm-3 control-label big">Name </label>
                            <div class="col-sm-8">
                                <input #name="ngModel" name="name" (keyup)="CheckName($event.target.value)" [(ngModel)]="BranchAdd.Name" type="text" placeholder="Enter Branch Name" class="form-control big" required minlength="5">
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': name.valid && !name.pristine && !checking_Name, 'fa-times':!name.valid && !name.pristine}"></i></p>
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-spinner fa-spin': checking_Name, 'fa-times fa-spin':checking_Name_Error}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="name.valid || (name.pristine)">
                                    Name is required (minimum 5 characters).
                                </div>
                                <div class="alert alert-danger big err" [hidden]="!checking_Name_Error">
                                  Branch Already Present!!
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !img.valid && !img.pristine, 'has-success':img.valid}">
                            <label class="col-sm-3 control-label big">Image Url </label>
                            <div class="col-sm-8">
                                <input #img="ngModel" name="img" [(ngModel)]="BranchAdd.Img_Url" type="text" placeholder="Enter Image Url Of Branch" class="form-control big" required>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': img.valid && !img.pristine, 'fa-times':!img.valid && !img.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="img.valid || (img.pristine)">
                                    Image Url Is Required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !adds.valid && !adds.pristine, 'has-success':adds.valid}">
                            <label class="col-sm-3 control-label big">Address </label>
                            <div class="col-sm-8">
                                <textarea #adds="ngModel" name="adds" style="height: 160px !important;" [(ngModel)]="BranchAdd.Address" placeholder="Enter Address Of This Branch!" class="form-control big" required minlength="20"></textarea>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': adds.valid && !adds.pristine, 'fa-times':!adds.valid && !adds.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="adds.valid || (adds.pristine)">
                                    You must enter address for this branch!. (Minimum 20 characters!)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-block" data-dismiss="modal" [disabled]="!f.valid || checking_Name_Error" (click)="Save(false)">Save</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditBranch" tabindex="-1" role="dialog" aria-labelledby="myModalEdit" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalEdit">Edit Menu Item</h2>
            </div>
            <div class="modal-body">
               <form #fE="ngForm" class="form-horizontal row-border" novalidate>
                        <div class="form-group" [ngClass]="{'has-error': !nameE.valid && !nameE.pristine && nameE.touched, 'has-success':nameE.valid}">
                            <label class="col-sm-3 control-label big">Name </label>
                            <div class="col-sm-8">
                                <input #nameE="ngModel" name="nameE" (keyup)="CheckName($event.target.value)" [(ngModel)]="BranchEdit.Name" type="text" placeholder="Enter Branch Name" class="form-control big" required minlength="5">
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': nameE.valid && !nameE.pristine && !checking_Name, 'fa-times':!nameE.valid && !nameE.pristine}"></i></p>
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-spinner fa-spin': checking_Name, 'fa-times fa-spin':checking_Name_Error}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="nameE.valid || (nameE.pristine)">
                                    Name is required (minimum 5 characters).
                                </div>
                                <div class="alert alert-danger big err" [hidden]="!checking_Name_Error">
                                   Menu Item Already Present!!
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !imgE.valid && !imgE.pristine, 'has-success':imgE.valid}">
                            <label class="col-sm-3 control-label big">Image Url </label>
                            <div class="col-sm-8">
                                <input #imgE="ngModel" name="imgE" [(ngModel)]="BranchEdit.Img_Url" type="text" placeholder="Enter Image Url For This Branch" class="form-control big" required>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': imgE.valid && !imgE.pristine, 'fa-times':!imgE.valid && !imgE.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="imgE.valid || (imgE.pristine)">
                                    Image Url Is Required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !addE.valid && !addE.pristine, 'has-success':addE.valid}">
                            <label class="col-sm-3 control-label big">Address </label>
                            <div class="col-sm-8">
                                <textarea #addE="ngModel" name="addE" style="height: 160px !important;" [(ngModel)]="BranchEdit.Address" placeholder="Enter Address For This Branch" class="form-control big" required minlength="20"></textarea>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': addE.valid && !addE.pristine, 'fa-times':!addE.valid && !addE.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="addE.valid || (addE.pristine)">
                                    You must enter address for the branch!. (Minimum 20 characters!)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-block" data-dismiss="modal" [disabled]="!fE.valid || checking_Name_Error" (click)="Save(true)">Save Changes</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalDelete" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalDelete">Confirm Delete</h2>
            </div>
            <div class="modal-body">
                <h1>Are You Sure You Want To Delete {{BranchDelete.Name}}?</h1>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-danger btn-block" data-dismiss="modal" (click)="Delete(BranchDelete._id)">Yes!!</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success btn-block" data-dismiss="modal">No!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabelT" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalLabelT">Create Branch</h2>
            </div>
            <div class="modal-body">
                <form #f="ngForm" class="form-horizontal row-border" novalidate>
                        <div class="form-group" [ngClass]="{'has-error': !name.valid && !name.pristine && name.touched, 'has-success':name.valid}">
                            <label class="col-sm-3 control-label big">Name </label>
                            <div class="col-sm-8">
                                <input #name="ngModel" name="name" (keyup)="CheckName($event.target.value)" [(ngModel)]="BranchAdd.Name" type="text" placeholder="Enter Branch Name" class="form-control big" required minlength="5">
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': name.valid && !name.pristine && !checking_Name, 'fa-times':!name.valid && !name.pristine}"></i></p>
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-spinner fa-spin': checking_Name, 'fa-times fa-spin':checking_Name_Error}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="name.valid || (name.pristine)">
                                    Name is required (minimum 5 characters).
                                </div>
                                <div class="alert alert-danger big err" [hidden]="!checking_Name_Error">
                                  Branch Already Present!!
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !img.valid && !img.pristine, 'has-success':img.valid}">
                            <label class="col-sm-3 control-label big">Image Url </label>
                            <div class="col-sm-8">
                                <input #img="ngModel" name="img" [(ngModel)]="BranchAdd.Img_Url" type="text" placeholder="Enter Image Url Of Branch" class="form-control big" required>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': img.valid && !img.pristine, 'fa-times':!img.valid && !img.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="img.valid || (img.pristine)">
                                    Image Url Is Required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !adds.valid && !adds.pristine, 'has-success':adds.valid}">
                            <label class="col-sm-3 control-label big">Address </label>
                            <div class="col-sm-8">
                                <textarea #adds="ngModel" name="adds" style="height: 160px !important;" [(ngModel)]="BranchAdd.Address" placeholder="Enter Address Of This Branch!" class="form-control big" required minlength="20"></textarea>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': adds.valid && !adds.pristine, 'fa-times':!adds.valid && !adds.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="adds.valid || (adds.pristine)">
                                    You must enter address for this branch!. (Minimum 20 characters!)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-block" data-dismiss="modal" [disabled]="!f.valid || checking_Name_Error" (click)="Save(false)">Save</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditTable" tabindex="-1" role="dialog" aria-labelledby="myModalEdit" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalEdit">Edit Menu Item</h2>
            </div>
            <div class="modal-body">
               <form #fE="ngForm" class="form-horizontal row-border" novalidate>
                        <div class="form-group" [ngClass]="{'has-error': !nameE.valid && !nameE.pristine && nameE.touched, 'has-success':nameE.valid}">
                            <label class="col-sm-3 control-label big">Name </label>
                            <div class="col-sm-8">
                                <input #nameE="ngModel" name="nameE" (keyup)="CheckName($event.target.value)" [(ngModel)]="BranchEdit.Name" type="text" placeholder="Enter Branch Name" class="form-control big" required minlength="5">
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': nameE.valid && !nameE.pristine && !checking_Name, 'fa-times':!nameE.valid && !nameE.pristine}"></i></p>
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-spinner fa-spin': checking_Name, 'fa-times fa-spin':checking_Name_Error}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="nameE.valid || (nameE.pristine)">
                                    Name is required (minimum 5 characters).
                                </div>
                                <div class="alert alert-danger big err" [hidden]="!checking_Name_Error">
                                   Menu Item Already Present!!
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !imgE.valid && !imgE.pristine, 'has-success':imgE.valid}">
                            <label class="col-sm-3 control-label big">Image Url </label>
                            <div class="col-sm-8">
                                <input #imgE="ngModel" name="imgE" [(ngModel)]="BranchEdit.Img_Url" type="text" placeholder="Enter Image Url For This Branch" class="form-control big" required>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': imgE.valid && !imgE.pristine, 'fa-times':!imgE.valid && !imgE.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="imgE.valid || (imgE.pristine)">
                                    Image Url Is Required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !addE.valid && !addE.pristine, 'has-success':addE.valid}">
                            <label class="col-sm-3 control-label big">Address </label>
                            <div class="col-sm-8">
                                <textarea #addE="ngModel" name="addE" style="height: 160px !important;" [(ngModel)]="BranchEdit.Address" placeholder="Enter Address For This Branch" class="form-control big" required minlength="20"></textarea>
                            </div>
                            <div class="col-md-1">
                                <p class="help-block"><i class="fa" [ngClass]="{'fa-check': addE.valid && !addE.pristine, 'fa-times':!addE.valid && !addE.pristine}"></i></p>
                            </div>
                            <div class="col-sm-12">
                                <div class="alert alert-danger big err" [hidden]="addE.valid || (addE.pristine)">
                                    You must enter address for the branch!. (Minimum 20 characters!)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-block" data-dismiss="modal" [disabled]="!fE.valid || checking_Name_Error" (click)="Save(true)">Save Changes</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteTable" tabindex="-1" role="dialog" aria-labelledby="myModalDelete" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalDelete">Confirm Delete</h2>
            </div>
            <div class="modal-body">
                <h1>Are You Sure You Want To Delete {{BranchDelete.Name}}?</h1>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-danger btn-block" data-dismiss="modal" (click)="Delete(BranchDelete._id)">Yes!!</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success btn-block" data-dismiss="modal">No!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>